body{
	background-image: url(../images/RickMortyBackground.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container{
	width: 65%;
}

#incorrectLetters, #correctLetters, #guessesRemaining, #wins{
	font-size: 25px;
	font-weight: bold;
	color: #333333;
}

#alert{
	font-size: 25px;
	line-height: 35px;
	margin-top: 10px;
	color: #125229;
}

/*fonts from Google Fonts*/
#underscores{
	font-family: 'Vast Shadow', cursive;
	font-family: 'Pangolin', cursive;
	font-size: 45px;
	line-height: 90px;
	color: #000000;
}

#underscores:first-letter{
	text-transform: capitalize;
}
h1{
	font-weight: bolder;
	font-size: 50px;
}
h2{
	font-size: 20px;
	text-align: center;
}

.topContainer{
	font-family: 'Luckiest Guy', cursive;
	color: #333333;
	border: 3px green solid;
}
.container .topContainer .topColor{
	background-color: #000000;	
}

.solveArea{
	background: linear-gradient(to right, #00a0c4, #00a0c4, transparent), url(../images/RMresizebanner.jpg);
	color: #333333;
	background-position: 100% 50%;
	background-repeat: no-repeat;
	border-bottom: 2px green solid;
	margin-bottom: 30px;
}


#dimImage{
	border: 4px #0a4c55 solid;
	width: 70%;
}


.banner{
	height: 25px;

	color: white;
}


.page-header, .page-header small{
	color: #333333;
	border: 0;

}
audio{
	width: 28%;
	margin-top: 20px;
	opacity: 0.9;
}


.container{
	background-color: #00a0c4;
	color: #400080;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 10px;
	border: 3px green solid;
	opacity: 0.9;
}

.leftColumn{
	border-right: 2px green solid;
}