body{
	background-image: url(../images/RickMortyBackground.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container{
	width: 65%;
}

#incorrectLetters, #correctLetters, #guessesRemaining, #wins{
	font-size: 25px;
	font-weight: bold;
	color: #333333;
}

#alert{
	font-size: 30px;
	line-height: 50px;
	margin-top: 10px;
	color: #125229;
}

#underscores{
	font-family: 'Vast Shadow', cursive;
	font-family: 'Pangolin', cursive;
	font-size: 45px;
	line-height: 90px;
	color: #000000;
}

#underscores:first-letter{
	text-transform: capitalize;
}
h1{
	font-weight: bolder;
	font-size: 50px;
}
h2{
	font-size: 20px;
	text-align: center;
}

.topContainer{
	font-family: 'Luckiest Guy', cursive;
	color: #333333;
	border: 3px green solid;
}
.container .topContainer .topColor{
	background-color: #000000;
}

.solveArea{
	background: linear-gradient(to right, #00a0c4, #00a0c4, transparent), url(../images/dfdfd.jpg);
	color: #333333;
	background-position: 130% 50%;
	background-repeat: no-repeat;
	border-bottom: 2px green solid;
	margin-bottom: 30px;
}


#dimImage{
	border: 1px green solid;
	width: 70%;
}


.banner{
	height: 25px;

	color: white;
}


/*{	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;*/
/*	animation-name: animate;
	animation: 20s linear 0s normal none infinite animate;
}
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 100% 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 100% 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 100% 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 100% 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 100% 0;}

}
*/
.page-header, .page-header small{
	color: #333333;
	border: 0;

}
audio{
	width: 70px;
	margin-top: 20px;
	opacity: 0.9;
}


.container{
	background-color: #00a0c4;
	color: #400080;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 10px;
	border: 3px green solid;
	opacity: 0.9;
}

.leftColumn{
	border-right: 2px green solid;
}